#DAILYALARM .before {
  color:#999;
}

#DAILYALARM .after {
  color:#F99;
}

#DAILYALARM .before .time.humanized::before {
  content: none;
}

#DAILYALARM .before .time::before {
  content: "-";
}

#DAILYALARM .after .time.humanized::before {
  content: none;
}

#DAILYALARM .after .time::before {
  content: "+";
}

#DAILYALARM .time {

}

#DAILYALARM .text {
  font-weight:bold;
}

#DAILYALARM .myClass {
  background-color:rgba(255,255,255,0.2);
  border-radius:5px;
  padding:5px;
}
